<div class="card">
    <div class="card-header">
        <!-- the following produces error: that productName is possibly undefined.
         -->
         <!-- {{pageTitle + ':' + product.productName}} -->
         <!-- Solution: add ?(safe navigation operator) so that if the
            value is null or undefined it doesn't try to read it. -->
        {{pageTitle + ':' + product?.productName}}
        <!-- could also use *ngIf='product' in the card-header div,
        but then the header wouldn't show up -->
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary"
                style="width:80px"
                click="onBack()">
            <i class="fa fa-chevron-left"></i> Back    
        </button>
    </div>
</div>